.parts-landing {
    & .fadeIn {
		transition: all 1.8s linear 0s;
	}

    &__hero {
		& .simple-hero__title {
			max-width: 837px;
        }
        
    }
    
    & .video-text-block {
        & .video-text-block__inner {
            min-height: 260px;
            padding-bottom: 1px;
        }
    }

	&__text-block {
		margin: 7.65rem 0 7.65rem;

		@media (max-width: $md3+px) {
			margin: 6rem 0 6rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 5rem;
		}

		& .text-block__title {
			max-width: 800px;
		}

		& .text-block__text {
			max-width: 650px;
		}
    }
    
    &__list {

        & .block-columns-2 {
            justify-content: space-between;
            & .column {
                flex: 0 1 calc(50% - 30px);

                @media (max-width: $md2+px) {
                    flex: 0 1 50%;
                }

                @media (max-width: 575+px) {
                    flex: 0 1 100%;
                }
            }

            & .card__img  {
                padding-bottom: 87%;
            }
        }

        & .block-columns-3 {
            justify-content: flex-start;
            margin: 0 -2rem;

            @media (max-width: 1260px) {
                margin: 0 -2rem;
            }

            @media (max-width: $md3+px) {
                margin: 0 -1.5rem;
            }

            & .column {
               padding: 0 2rem;
                flex: 0 1 25%;
            

                @media (max-width: 1260px) {
                    padding: 0 2rem;
                    flex: 0 1 33.3333%;
                }

                @media (max-width: $md3+px) {
                    flex: 0 1 50%;
                    padding: 0 1.5rem;
                }

                @media (max-width: 575+px) {
                    flex: 0 1 100%;
                }

            }
            & .card__img  {
                padding-bottom: 87%;
                margin-bottom: 1rem;
            }

            & .card__text-wrap {
                padding: 2rem 3rem;
            }

            & .card__title {
                font-size: 2.6rem;
                line-height: 1.29em !important;
            }

            .card__btn-wrap {
                margin-top: 3.3rem;
            }
        }
    }
}