.parts-landing {
    & .fadeIn {
		transition: all 1.8s linear 0s;
	}

    &__hero {
		& .simple-hero__title {
			max-width: 837px;
        }
        
    }
    
    & .video-text-block {
        & .video-text-block__inner {
            min-height: 260px;
            padding-bottom: 1px;
        }
    }

	&__text-block {
		margin: 15.3rem 0 15.3rem;

		@media (max-width: $md3+px) {
			margin: 10rem 0 10rem;
		}

		@media (max-width: $md4+px) {
			margin: 5rem 0 5rem;
		}

		& .text-block__title {
			max-width: 800px;
		}

		& .text-block__text {
			max-width: 650px;
		}
    }
    
    &__list {
        margin-bottom: 15rem;
        @media (max-width: $md3+px) {
            margin-bottom: 7rem;
        }
        & .block-columns-2 {
            justify-content: space-between;
            & .column {
                flex: 0 1 calc(50% - 30px);

                @media (max-width: $md2+px) {
                    flex: 0 1 50%;
                }

                @media (max-width: 575+px) {
                    flex: 0 1 100%;
                }
            }

            & .card__img  {
                padding-bottom: 87%;
            }
        }

        & .block-columns-3 {
            justify-content: flex-start;
            margin: 0 -4rem;

            @media (max-width: 1260px) {
                margin: 0 -2rem;
            }

            @media (max-width: $md3+px) {
                margin: 0 -1.5rem;
            }

            & .column {
               padding: 0 4rem;
                margin-bottom: 12.5rem;
                @media (max-width: 1260px) {
                    padding: 0 2rem;
                }

                @media (max-width: $md3+px) {
                    flex: 0 1 50%;
                    padding: 0 1.5rem;
                    margin-bottom: 7.5rem;
                }

                @media (max-width: 575+px) {
                    flex: 0 1 100%;
                }

            }
            & .card__img  {
                padding-bottom: 87%;
            }
        }
    }
}